<h1>Course List</h1>

<button (click)="addCourse()">Add Course</button>

<button (click)="updateCourse()">Update Course 1</button>

<hr>

<div *ngIf="loading">
    Loading...
</div>

<div *ngIf="errorMessage" style="color:red">

{{errorMessage}}

</div>

<table border="1">

<tr>

<th>ID</th>

<th>Name</th>

<th>Code</th>

<th>Credits</th>

<th>Status</th>

<th>Action</th>

</tr>

<tr *ngFor="let course of courses">

<td>{{course.id}}</td>

<td>

<a
(click)="openCourse(course.id)"
style="cursor:pointer;color:blue">

{{course.name}}

</a>

</td>

<td>{{course.code}}</td>

<td>{{course.credits}}</td>

<td>{{course.status}}</td>

<td>

<button
(click)="deleteCourse(course.id)">
Delete
</button>

</td>

</tr>

</table>
